@font-face {
	font-family: 'PokemonFont';
	src: url('../fonts/Pokemon\ Solid.ttf') format('truetype');
}

* {
	box-sizing: border-box;
	margin: 0;
}

html {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: rgb(154, 154, 154);
	max-height: 100vh;
}

body {
	text-align: center;
	width: 100%;
	height: 100vh;
	position: relative;
}

.header {
	background: linear-gradient(to bottom, red 10%, rgb(255, 72, 72) 50%, rgb(255, 141, 141) 100%);
}

.main {
	background: linear-gradient(to bottom, rgb(255, 154, 154) 5%, white 100%);
	height: 50vh;
	overflow-y: auto
}

.search__bar {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.main__heading {
	font-family: 'PokemonFont', Fallback, sans-serif;
	font-size: 1.7em;
	letter-spacing: 5px;
	-webkit-text-stroke: 2px #3466AF;
	color: #FFCB05;
	margin-top: -1em;
}

.main__logo {
	max-width: 100%;
	object-fit: cover;
}

.main__buttons {
	width: 100%;
	display: flex;
	flex-wrap: nowrap;
}

.button {
	width: 50%;
	background-color: #3466AF;
	border: none;
	color: white;
	padding: 0.8em 0;
	font-size: 1em;
	cursor: pointer;
}

.button:hover {
	background-color: #295faf;
}

.selected,
.selected:hover {
	background-color: #181D4F;
}

.footer {
	text-align: center;
	padding-top: 2em;
}

@media screen and (min-width: 500px) {
	.main__heading {
		font-size: 2em;
	}

	.main__logo {
		max-width: 80%;
		margin-top: 1em;
	}
}

@media screen and (min-width: 650px) {
	.main__heading {
		font-size: 2.5em;
	}
}

@media screen and (min-width: 800px) {
	body {
		max-width: 800px;
		border-radius: 2em;
		margin-top: 2em;
	}

	.header {
		border-radius: 2em 2em 0 0;
	}

	.main {
		border-radius: 0 0 2em 2em;
	}
}