.invisible {
	/* visibility: hidden; */
	display: none;
}

.search__label {
	font-size: 1.1em;
	margin-top: 1em;
}

#search-input {
	max-width: 15em;
	padding: 0.4em;
	font-size: 1em;
}

.team__heading__container {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr 1fr;
	margin-bottom: -1.5em;
}

#team-select {
	grid-row: 2;
	padding: 0.3em;
	background: transparent;
	border-radius: 1em;
	border: none;
	font-size: 1em;
	margin-top: 0.8em;
	cursor: pointer;
	justify-self: end;
}

#team-select>option {
	background-color: rgb(255, 154, 154);
}

.team__heading {
	grid-column: 1;
	justify-self: center;
	margin-top: 1em;
	display: flex;
}

.heading__icon {
	margin: 0 0.5em;
	max-height: 18px;
	cursor: pointer;
}

.main__content,
.content__team,
.content__backup {
	display: flex;
	align-items: center;
	padding: 1em;
	flex-direction: column;
}

.card {
	width: 100%;
	display: flex;
	justify-content: space-around;
	background-color: rgb(192, 191, 191);
	padding: 0.5em;
	border-radius: 1em;
	margin: 1em 0;
}

.card__info {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
}

.info__button__container {
	display: flex;
	gap: 0.5em;
}

.info__button,
.info__button--promote {
	background-color: #3466AF;
}

.info__button {
	color: white;
	padding: 0.7em 1.2em;
	border-radius: 1em;
	max-width: fit-content;
	border: none;
	align-self: center;
	cursor: pointer;
	text-align: center;
}

.info__button--promote,
.info__button--demote,
.info__button--kick {
	width: 6em;
}

.info__button--demote,
.info__button--kick {
	background-color: rgb(213, 68, 68);
}

.info__button--demote:hover,
.info__button--kick:hover {
	background-color: rgb(212, 55, 55);
}

.info__button--add:hover,
.info__button--promote:hover {
	background-color: #295faf;
}

.info__heading__container {
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.info__heading {
	font-size: 1.2em;
}

.info__expand {
	background-color: unset;
	cursor: pointer;
	padding: 0;
	border: none;
}

main::-webkit-scrollbar {
	width: 12px;
}

main::-webkit-scrollbar-track {
	background: linear-gradient(to bottom, rgb(255, 154, 154) 5%, white 100%);
	border-radius: 10px;
	margin-top: 5px;
	margin-bottom: 25px;
}

main::-webkit-scrollbar-thumb {
	background-color: #3466AF;
	border-radius: 20px;
	border: 3px solid rgb(255, 154, 154);
}

@media screen and (min-width: 400px) {
	.card {
		max-width: 350px;
		margin: 1em 0;
	}
}

@media screen and (min-width: 600px) {
	.team__heading__container {
		grid-template-rows: 1fr;
		margin-bottom: unset;
	}

	.team__heading {
		grid-column: 1;
		grid-row: 1;
		justify-self: center;
		font-size: 1.3em;
	}

	.heading__icon {
		margin: 0.1em 0.5em;
		max-height: 20px;
	}

	#team-select {
		grid-column: 1;
		grid-row: 1;
		justify-self: end;
	}
}

@media screen and (min-width: 800px) {

	.chosen {
		min-width: 500px;
	}

	.chosen .info__button {
		padding: 0.7em 1.2em;
	}

	.main__content,
	.content__backup {
		flex-direction: row;
		flex-wrap: wrap;
		gap: 1em;
		padding: 1em;
		justify-content: center;
	}
}